[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Bastion_Gate_Root
Bastion_Gate
Structure
J_Gate
Gate
J_Gear_BR
Gear_BR
J_Gear_TR
Gear_TR
J_Gear_TL
Gear_TL
J_Gear_BL
Gear_BL
J_Chain_L
Chain_L
J_Chain_R
Chain_R
Structure_end
Gate_end
Gear_BR_end
Gear_TR_end
Gear_TL_end
Gear_BL_end
Chain_L_end
Chain_R_end

[RemoveTracks]
Bastion_Gate_Fail.17=all
Bastion_Gate_Fail.18=all
Bastion_Gate_Fail.19=all
Bastion_Gate_Fail.20=all
Bastion_Gate_Fail.21=all
Bastion_Gate_Fail.22=all
Bastion_Gate_Fail.23=all
Bastion_Gate_Fail.24=all
