[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root_joint
J_PufferFishBody_joint
J_LargeBody_joint
J_L_LargeFin_joint
J_R_LargeFin_joint
J_LargeTail_joint
J_MediumBody_joint
J_L_MediumFin_joint
J_R_MediumFin_joint
J_SmallBody_joint
J_L_SmallFin_joint
J_R_SmallFin_joint
J_SmallTail_joint
J_L_Eye_joint
J_L_EyePupil_joint
J_Mouth_joint
J_R_Eye_joint
J_R_EyePupil_joint
J_L_eyeSmall_joint
J_R_eyeSmall_joint
