[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Anemone_01_Root
J_Anemone_01_Bottom
J_Anemone_01_Middle
J_Anemone_01_Body_Fingers_001
J_Anemone_01_Body_Fingers_002
J_Anemone_01_Body_Fingers_003
J_Anemone_01_Body_Fingers_004
J_Anemone_01_Head
J_Anemone_01_Head_Finger_001
J_Anemone_01_Head_Finger_002
J_Anemone_01_Head_Finger_003
J_Anemone_01_Head_Finger_004
J_Anemone_01_Body_Fingers_007
J_Anemone_01_Body_Fingers_006
J_Anemone_01_Body_Fingers_005
J_Anemone_01_Body_Fingers_012
