[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_CharacterPos
J_LayerScaler
J_Layer1
MagmaCubeLayer1
J_Layer2
MagmaCubeLayer2
J_Layer3
MagmaCubeLayer3
J_Layer4
MagmaCubeLayer4
J_Layer5
MagmaCubeLayer5
J_Layer6
MagmaCubeLayer6
J_Layer7
MagmaCubeLayer7
J_Layer8
MagmaCubeLayer8
J_Heart
MagmaCubeHeart
