[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Root
lid_upper002
lid_upper002_end
lid_lower002
lid_lower002_end
lid_upper003
lid_upper003_end
lid_lower003
lid_lower003_end
lid_upper004
lid_upper004_end
lid_lower004
lid_lower004_end
lid_upper001
lid_upper001_end
lid_lower001
lid_lower001_end
