[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Hip
J_R_Leg
J_R_Foot
R_Leg
R_Leg_armor
J_L_Leg
J_L_Foot
L_Leg
L_Leg_armor
J_Spine
J_Shoulders
J_L_Arm
J_L_Hand
J_L_Weapon
L_Arm
L_Arm_armor
J_R_Arm
J_R_Hand
J_R_Weapon
R_Arm
R_Arm_armor
J_Neck
J_Head
Head
Head_Armor
J_Mouth
Mouth
J_L_EyeIris
J_L_EyePupil
L_Eye_Pupil
L_Eye_Iris
J_R_EyeIris
J_R_EyePupil
R_Eye_Pupil
R_Eye_Iris
Body
Body_armor

[RemoveTracks]
Player_Master_Emote_Breakdancing.4=all
Player_Master_Emote_Breakdancing.5=all
Player_Master_Emote_Breakdancing.8=all
Player_Master_Emote_Breakdancing.9=all
Player_Master_Emote_Breakdancing.15=all
Player_Master_Emote_Breakdancing.16=all
Player_Master_Emote_Breakdancing.20=all
Player_Master_Emote_Breakdancing.21=all
Player_Master_Emote_Breakdancing.24=all
Player_Master_Emote_Breakdancing.25=all
Player_Master_Emote_Breakdancing.27=all
Player_Master_Emote_Breakdancing.30=all
Player_Master_Emote_Breakdancing.31=all
Player_Master_Emote_Breakdancing.34=all
Player_Master_Emote_Breakdancing.35=all
Player_Master_Emote_Breakdancing.36=all
Player_Master_Emote_Breakdancing.37=all
