[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Cauldron
Cauldron
J_Spoon
Spon
J_Flames
Fire1
J_Logs
Lumbers
J_Liquid
Liquid
CauldronUpper
J_CauldronBottom
CauldronBottom
J_L_EyeIris
J_L_EyePupil
L_EyePupil
R_EyeIris
J_R_EyeIris
J_R_EyePupil
R_EyePupil
L_EyeIris
J_R_Handle
CauldronUpper2
J_R_Handle1
CauldronUpper1

[RemoveTracks]
CauldronBoss_IntenseSpin.6=all
CauldronBoss_IntenseSpin.11=all
CauldronBoss_IntenseSpin.12=all
CauldronBoss_IntenseSpin.13=all
CauldronBoss_IntenseSpin.14=all
CauldronBoss_IntenseSpin.15=all
CauldronBoss_IntenseSpin.16=all
CauldronBoss_IntenseSpin.17=all
CauldronBoss_IntenseSpin.18=all
CauldronBoss_IntenseSpin.19=all
CauldronBoss_IntenseSpin.20=all
CauldronBoss_IntenseSpin.21=all
CauldronBoss_IntenseSpin.22=all
CauldronBoss_IntenseSpin.23=all
CauldronBoss_IntenseSpin.24=all
CauldronBoss_IntenseSpin.25=all
