[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Cauldron
Cauldron
J_Spoon
Spon
J_Flames
Fire1
J_Logs
Lumbers
J_Liquid
Liquid
CauldronUpper
J_CauldronBottom
CauldronBottom
J_L_EyeIris
J_L_EyePupil
L_EyePupil
R_EyeIris
J_R_EyeIris
J_R_EyePupil
R_EyePupil
L_EyeIris
J_R_Handle
CauldronUpper2
J_R_Handle1
CauldronUpper1

[RemoveTracks]
CauldronBoss_Tpose.11=all
CauldronBoss_Tpose.12=all
CauldronBoss_Tpose.13=all
CauldronBoss_Tpose.14=all
CauldronBoss_Tpose.15=all
CauldronBoss_Tpose.16=all
CauldronBoss_Tpose.17=all
CauldronBoss_Tpose.18=all
CauldronBoss_Tpose.19=all
CauldronBoss_Tpose.20=all
CauldronBoss_Tpose.21=all
CauldronBoss_Tpose.22=all
CauldronBoss_Tpose.23=all
CauldronBoss_Tpose.24=all
CauldronBoss_Tpose.25=all
