[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Hips
J_Body
je_BodyEnd
J_Head
je_Head
J_Nose
je_Nose
J_L_Ear
J_L_Eyelid_Top
J_L_Eyelid_Bottom
J_R_Ear
J_R_Eyelid_Top
J_R_Eyelid_Bottom
J_L_FrontLeg
je_L_FrontLeg
J_R_FrontReg
je_R_FrontReg
J_L_BackLeg
je_L_BackLeg
J_Tail
je_Tail
J_R_BackReg
je_R_BackReg
