[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Spine2
J_Head
J_Wattles
Wattle
J_Beak
Beak
Head
J_L_Eye
L_Eye
J_R_Eye
R_Eye
Body
joint1
L_Wing
joint2
R_Wing
J_L_Leg
L_Leg
J_R_Leg
R_Leg

[RemoveTracks]
babyChicken_Idle.8=all
babyChicken_Idle.9=all
babyChicken_Idle.10=all
babyChicken_Idle.11=all
