[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Hip
J_L_Leg
J_L_Foot
L_Leg
J_R_Leg
J_R_Foot
R_Leg
J_Spine2
J_Spine
J_Shoulders
J_BackPack
RedStone
J_Head
head
J_R_Arm
J_R_Elbow
J_R_Hand
J_R_Thumb
R_Thumb
J_R_IndexFinger
R_IndexFinger
J_R_MiddleFinger
R_MiddleFinger
R_lowerArm
R_UpperArm
upperBody
J_L_Arm
J_L_Elbow
J_L_Hand
J_L_Thumb
L_Thumb
J_L_IndexFinger
L_IndexFinger
J_L_MiddleFinger
L_MiddleFinger
L_lowerArm
L_upperArm
stomach
