[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
RB
Root
Main
Main_end
Main_001
Main_002
Main_003
Main_003_end
Main_004
Main_005
Main_006
Main_006_end
Main_007
Main_008
Main_009
Main_009_end
Main_013
Main_013_end
SlidingPanel_1_003
SlidingPanel_1_003_end
SlidingPanel_1_004
SlidingPanel_1_004_end
SlidingPanel_1_005
SlidingPanel_1_005_end
SlidingPanel_1
SlidingPanel_1_end
SlidingPanel_1_001
SlidingPanel_1_001_end
SlidingPanel_1_002
SlidingPanel_1_002_end
SlidingPanel_1_006
SlidingPanel_1_006_end
SlidingPanel_1_007
SlidingPanel_1_007_end
SlidingPanel_1_008
SlidingPanel_1_008_end
SlidingPanel_1_009
SlidingPanel_1_009_end
SlidingPanel_1_010
SlidingPanel_1_010_end
SlidingPanel_1_011
SlidingPanel_1_011_end
SlidingPanel_1_012
SlidingPanel_1_012_end
SlidingPanel_1_013
SlidingPanel_1_013_end
SlidingPanel_1_014
SlidingPanel_1_014_end
SprucePanelDown
SprucePanelDown_end
Main_010
Main_011
Main_012
Main_012_end
