[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Hips
J_L_BackLeg
J_L_BackLeg_end
J_R_BackLeg
J_R_BackLeg_end
J_Spine_spline_00
J_Spine_spline_01
J_Spine_spline_02
J_Neck
J_Head
J_Head_end
J_L_Horn
J_L_Horn_end
J_Mouth
J_Mouth_end_joint
J_Nose
J_Nose_end_joint
J_R_Horn
J_R_Horn_end_joint
J_L_Eye
J_L_Pupil
J_R_Eye
J_R_Pupil
J_L_FrontLeg
J_L_FrontLeg_end
J_R_FrontLeg
J_R_FrontLeg_end

[RemoveTracks]
Ravager_Walk.13=all
