[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
bnd_root_01
bnd_hips
bnd_pelvis
bnd_chest
bnd_l_arm
bnd_l_elbow
bnd_l_wrist
bnd_l_finger_01
be_l_finger_01
bnd_l_finger_02
be_l_finger_02
bnd_l_finger_03
be_l_finger_03
bnd_l_finger_04
be_l_finger_04
bnd_r_arm
bnd_r_elbow
bnd_r_wrist
bnd_r_finger_02
be_r_finger_02
bnd_r_finger_03
be_r_finger_03
bnd_r_finger_04
be_r_finger_04
bnd_r_finger_01
be_r_finger_01
bnd_neck
bnd_headTop
be_headEnd
bnd_l_leg
be_l_legEnd
bnd_r_leg
be_r_legEnd
