[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Bottom
J_Top
J_Latch
FancyChest_Latch
FancyChest_Top
FancyChest_Bottom
MissionLootChest_Top
RightTooth
MiddleTooth
LeftTooth
MissionLootChest_Bottom

[RemoveTracks]
RewardChest_OpeningNoVFX.7=all
RewardChest_OpeningNoVFX.8=all
RewardChest_OpeningNoVFX.9=all
RewardChest_OpeningNoVFX.10=all
RewardChest_OpeningNoVFX.11=all
