[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Bottom
J_Top
J_Latch
FancyChest_Latch
FancyChest_Top
FancyChest_Bottom
MissionLootChest_Top
RightTooth
MiddleTooth
LeftTooth
MissionLootChest_Bottom

[RemoveTracks]
RewardChest_Appear.7=all
RewardChest_Appear.8=all
RewardChest_Appear.9=all
RewardChest_Appear.10=all
RewardChest_Appear.11=all
