[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_LowerBody
J_L_Arm
J_L_ArmEnd
J_R_Arm
J_R_ArmEnd
J_L_LowerLeft_Eye
J_R_LowerRight_Eye
J_L_LowerRight_Eye
J_R_LowerLeft_Eye
J_Cape_01
J_Cape_02
J_UpperBody
J_Nose
J_Hood
J_HoodCape
J_Brow
J_L_Upper_Eye
J_R_Upper_Eye
J_L_LowerLeft_Leg
J_L_LowerLeft_LegEnd
J_R_LowerLeft_Leg
J_R_LowerLeft_LegEnd
J_L_LowerRight_Leg
J_L_LowerRight_LegEnd
J_R_LowerRight_Leg
J_R_LowerRight_LegEnd
