[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Body
J_L_Body
J_R_Left_Eye
J_L_Left_Eye
J_L_Arm
J_L_ArmEnd
J_R_LeftLeg
J_R_LeftLegEnd
J_L_LeftLeg
J_L_LeftLegEnd
J_R_Body
J_R_Arm
J_R_ArmEnd
J_R_Right_Eye
J_L_Right_Eye
J_L_RightLeg
J_L_RightLegEnd
J_R_RightLeg
J_R_RightLegEnd
J_L_Mid_Eye
J_R_Mid_Eye
J_Nose
J_Brow
J_Hat
J_L_CenterLeg
J_L_CenterLegEnd
J_Cape_01
J_Cape_02
J_Hood
J_R_CenterLeg
J_R_CenterLegEnd
