[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_LowerBody
J_L_FrontLeg
J_L_FrontLegEnd
J_L_BackLeg
J_L_BackLegEnd
J_L_LowerArm
J_L_LowerArmEnd
J_L_LowerEye
J_R_LowerEye
J_R_BackEye
J_L_BackEye
J_R_LowerArm
J_R_LowerArmEnd
J_R_FrontLeg
J_R_FrontLegEnd
J_R_BackLeg
J_R_BackLegEnd
J_UpperBody
J_L_UpperEye
J_Nose
J_R_UpperEye
J_L_Arm
J_L_ArmEnd
J_R_Arm
J_R_ArmEnd
