[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_LowerGolemBody
J_MidGolemBody
J_UpperGolemBody
J_UpperStrech
J_UpperNose
J_L_UpperArm
J_L_UpperArmEnd
J_UpperHood
J_R_UpperArm
J_R_UpperArmEnd
J_Cape_01
J_Cape_02
J_Cape_03
J_MidStrech_01
J_MidStretch_02
J_L_MidArm
J_L_MidArmEnd
J_R_MidArm
J_R_MidArmEnd
J_LowerStretch
J_L_LowerArm
J_L_LowerArmEnd
J_R_LowerArm
J_R_LowerArmEnd
J_L_Leg
J_L_LegEnd
J_R_Leg
J_R_LegEnd
L_R_UpperEye
L_L_UpperEye
L_R_MidEye
L_L_MidEye
L_R_LowerEye
L_L_LowerEye
J_R_UpperEye
J_L_UpperEye
J_Cape_04
J_R_MidEye
J_L_MidEye
J_R_LowerEye
J_L_LowerEye

[RemoveTracks]
TowerKeeper_TeleportIn.29=all
TowerKeeper_TeleportIn.30=all
TowerKeeper_TeleportIn.31=all
TowerKeeper_TeleportIn.32=all
TowerKeeper_TeleportIn.33=all
TowerKeeper_TeleportIn.34=all
