[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_L_Hip
J_R_Leg
J_R_Foot
R_Leg
J_L_Leg
J_L_Foot
L_Leg
J_L_Spine
J_Shoulders
J_L_Arm
J_L_Hand
J_L_Weapon
L_Arm
J_R_Arm
J_R_Hand
J_R_Weapon
R_Arm
J_Neck
J_Head
Head
Body
R_Skirt
L_Skirt
Glaive
Helmet1
chestplate

[RemoveTracks]
WitherSkeletonRanged_Idle.1=all
WitherSkeletonRanged_Idle.8=all
