[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Hips
J_Spine_12
J_Spine_13
J_Spine_14
J_Spine_15
J_Spine_16
J_Spine_17
J_Spine_18
J_Spine_19
J_Spine_20
J_Spine_21
J_Spine_11
J_Spine_10
J_Spine_09
J_Spine_08
J_Spine_07
J_Spine_06
J_Spine_05
J_Spine_04
J_Spine_03
J_Spine_02
J_Spine_01
J_Eye_01
J_Eye_02
J_Eye_03
J_Eye_04
J_Eye_05
J_L_FrontLeg
J_L_BackLeg
J_R_FrontLeg
J_R_BackLeg
J_Jaw
J_Eye_01_04
J_Eye_01_03
J_Eye_01_02
J_Eye_02_03
J_Eye_02_02
J_Eye_02_04
