[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Hip
J_L_Leg
L_Leg
J_Spine
J_L_Shoulder
J_L_Elbow
J_L_Hand
J_L_MiddleFinger
L_MiddleFinger
J_L_Thumb
L_Thumb
J_L_IndexFinger
L_IndexFinger
L_Hand
L_Elbow
L_Shoulder
J_R_Shoulder
J_R_Elbow
J_R_Hand
J_R_MiddleFinger
R_MiddleFinger
J_R_Thumb
R_Thumb
J_R_IndexFinger
R_IndexFinger
R_Hand
R_Elbow
R_Shoulder
UpperBody2
J_Neck
J_Head
J_Mouth
Mouth
J_Middle_Eye
MiddleEye
J_L_Eye
R_Ee
J_R_Eye
L_Eye
R_Horn
J_R_Leg
R_Leg
LowerBody
