[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Door
Door_Poles
Door_Base
Door_Poles1
Door_Poles2
Door_Poles3
Door_Poles4
Door_Poles5
Door_Poles6
Door_Poles7
Door_Poles8
Door_Poles9
Door_Poles10
Door_Poles11
Door_Poles12
Door_Poles13
Door_Poles14
Door_Poles15
Door_Poles16
Door_Poles17
Door_Poles18
Door_Poles27
Door_Poles26
Door_Poles25
Door_Poles24
Door_Poles23
Door_Poles22
Door_Poles21
Door_Poles20
Door_Poles19
Door_Base1
Door_Base2
Door_Base3
Door_Base4
Door_Base5
Door_Base6
Door_Base7
Door_Base8
Door_Base9
Door_Base18
Door_Base17
Door_Base16
Door_Base15
Door_Base14
Door_Base13
Door_Base12
Door_Base11
Door_Base10
Door_Base27
Door_Base26
Door_Base25
Door_Base24
Door_Base23
Door_Base22
Door_Base21
Door_Base20
Door_Base19
SK_BambooGate_5x
SK_BambooGate_9x

[RemoveTracks]
Anim_Gate_Opening_Slow.2=all
Anim_Gate_Opening_Slow.3=all
Anim_Gate_Opening_Slow.5=all
Anim_Gate_Opening_Slow.6=all
Anim_Gate_Opening_Slow.7=all
Anim_Gate_Opening_Slow.8=all
Anim_Gate_Opening_Slow.9=all
Anim_Gate_Opening_Slow.10=all
Anim_Gate_Opening_Slow.11=all
Anim_Gate_Opening_Slow.12=all
Anim_Gate_Opening_Slow.13=all
Anim_Gate_Opening_Slow.14=all
Anim_Gate_Opening_Slow.15=all
Anim_Gate_Opening_Slow.16=all
Anim_Gate_Opening_Slow.17=all
Anim_Gate_Opening_Slow.18=all
Anim_Gate_Opening_Slow.19=all
Anim_Gate_Opening_Slow.20=all
Anim_Gate_Opening_Slow.21=all
Anim_Gate_Opening_Slow.22=all
Anim_Gate_Opening_Slow.23=all
Anim_Gate_Opening_Slow.24=all
Anim_Gate_Opening_Slow.25=all
Anim_Gate_Opening_Slow.26=all
Anim_Gate_Opening_Slow.27=all
Anim_Gate_Opening_Slow.28=all
Anim_Gate_Opening_Slow.29=all
Anim_Gate_Opening_Slow.30=all
Anim_Gate_Opening_Slow.31=all
Anim_Gate_Opening_Slow.32=all
Anim_Gate_Opening_Slow.33=all
Anim_Gate_Opening_Slow.34=all
Anim_Gate_Opening_Slow.35=all
Anim_Gate_Opening_Slow.36=all
Anim_Gate_Opening_Slow.37=all
Anim_Gate_Opening_Slow.38=all
Anim_Gate_Opening_Slow.39=all
Anim_Gate_Opening_Slow.40=all
Anim_Gate_Opening_Slow.41=all
Anim_Gate_Opening_Slow.42=all
Anim_Gate_Opening_Slow.43=all
Anim_Gate_Opening_Slow.44=all
Anim_Gate_Opening_Slow.45=all
Anim_Gate_Opening_Slow.46=all
Anim_Gate_Opening_Slow.47=all
Anim_Gate_Opening_Slow.48=all
Anim_Gate_Opening_Slow.49=all
Anim_Gate_Opening_Slow.50=all
Anim_Gate_Opening_Slow.51=all
Anim_Gate_Opening_Slow.52=all
Anim_Gate_Opening_Slow.53=all
Anim_Gate_Opening_Slow.54=all
Anim_Gate_Opening_Slow.55=all
Anim_Gate_Opening_Slow.56=all
Anim_Gate_Opening_Slow.57=all
Anim_Gate_Opening_Slow.58=all
Anim_Gate_Opening_Slow.59=all
