[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Door
Door_Poles
Door_Base
Door_Poles1
Door_Poles2
Door_Poles3
Door_Poles4
Door_Poles5
Door_Poles6
Door_Poles7
Door_Poles8
Door_Poles9
Door_Poles10
Door_Poles11
Door_Poles12
Door_Poles13
Door_Poles14
Door_Poles15
Door_Poles16
Door_Poles17
Door_Poles18
Door_Poles27
Door_Poles26
Door_Poles25
Door_Poles24
Door_Poles23
Door_Poles22
Door_Poles21
Door_Poles20
Door_Poles19
Door_Base1
Door_Base2
Door_Base3
Door_Base4
Door_Base5
Door_Base6
Door_Base7
Door_Base8
Door_Base9
Door_Base18
Door_Base17
Door_Base16
Door_Base15
Door_Base14
Door_Base13
Door_Base12
Door_Base11
Door_Base10
Door_Base27
Door_Base26
Door_Base25
Door_Base24
Door_Base23
Door_Base22
Door_Base21
Door_Base20
Door_Base19
SK_BambooGate_5x
SK_BambooGate_9x
