[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Body
J_L_Arm
J_L_Hand
L_Arm
J_R_Arm
J_R_Hand
R_Arm
J_Neck
J_Head
J_Nose
Nose
J_Jaws
L_Jaw
R_Jaw
J_L_Eye
L_Eye
J_R_Eye
R_Eye
J_L_Ear
L_Ear
J_R_Ear
R_Ear
Head
Body
J_L_Leg
L_Leg
J_R_Leg
R_Leg
Body2
L_LegPant
R_LegPant

[RemoveTracks]
Piglin_IdleLookingAroundRanged.29=all
Piglin_IdleLookingAroundRanged.30=all
Piglin_IdleLookingAroundRanged.31=all
