[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Head
J_Spine_01
J_Spine_02
J_Spine_03
J_Spine_04
J_Spine_05
J_Spine_06
J_Spine_07
J_Spine_08
J_Spine_09
J_Spine_10
J_Spine_11
J_Spine_12
J_Spine_13
J_Spine_14
J_Spine_15
J_Spine_16
J_Back_L_Leg
J_Back_R_Leg
J_Mid_L_Leg
J_Mid_R_Leg
J_Front_R_Leg
J_Front_L_Leg
