[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Upper_WestRod
blaze_rod_top_2
J_Upper_EastRod
blaze_rod_top_4
J_Upper_NorthRod
blaze_rod_top_1
J_Upper_SouthRod
blaze_rod_top_3
J_Middle_SouthRod
blaze_rod_middle_3
J_Middle_NorthRod
blaze_rod_middle_1
J_Middle_EastRod
blaze_rod_middle_4
J_Middle_WestRod
blaze_rod_middle_2
J_Lower_WestRod
blaze_rod_bottom_2
J_Lower_EastRod
blaze_rod_bottom_4
J_Lower_NorthRod
blaze_rod_bottom_1
J_Lower_SouthRod
blaze_rod_bottom_3
J_Neck
J_Head
J_R_EyeIris
J_R_EyePupil
R_Eye_Pupil
R_Eye_Iris
J_L_EyeIris
J_L_EyePupil
L_Eye_Pupil
L_Eye_Iris
blaze_head
