[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root_joint
J_Body_joint
J_Arm_01_root_joint
J_Arm_01_end_joint
J_Arm_02_root_joint
J_Arm_02_end_joint
J_Arm_03_root_joint
J_Arm_03_end_joint
J_Arm_04_root_joint
J_Arm_04_end_joint
J_Arm_05_root_joint
J_Arm_05_end_joint
J_Arm_06_root_joint
J_Arm_06_end_joint
J_Arm_07_root_joint
J_Arm_07_end_joint
J_Arm_08_root_joint
J_Arm_08_end_joint
J_Head_joint
J_L_Eye_joint
J_L_Pupil_joint
J_R_Eye_joint
J_R_Pupil_joint
