[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Body
J_Neck
J_Head
J_R_Ear
R_ear
transform149
transform150
J_L_Ear
L_ear
J_MouthUpper
MouthUp
J_MouthLower
MouthLow
J_NeckHair
neckHair
head
Neck
J_R_Forward_Leg
R_FrontLeg
J_R_Back_Leg
R_BackLeg
J_Tail
J_Tail1
J_Tail2
tail2
tail1
tailcorner
J_L_Back_Leg
L_BackLeg
J_L_Forward_Leg
L_FrontLeg
Body
