[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Body
J_L_Leg
L_Leg
J_R_Leg
R_Leg
J_Amulet
J_Chains
L_Chain
R_Chain
Amulet
J_L_Arm
J_L_ArmCloth
R_Arm_Sleeve
J_L_Weapon
_Cube
SuperCube1
Staff
L_Arm
J_R_Arm
J_R_Weapon
J_R_ArmCloth
L_Arm_Sleeve
R_Arm
J_Robe
Robe
J_Neck
J_Head
J_Hat
Crown
J_L_EyeBrow
L_EyeBrow
J_R_EyeBrow
R_EyeBrow
J_Nose
Nose
J_L_EyeIris
J_L_EyePupil
L_EyePupil
L_EyeIris
J_R_EyeIris
J_R_EyePupil
R_EyePupil
R_EyeIris
Head
Body
