[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_L_Hip
J_R_Leg
J_R_Foot
R_Leg
J_L_Leg
J_L_Foot
L_Leg
J_L_Spine
J_Shoulders
J_L_Arm
J_L_Hand
J_L_Weapon
L_Arm
J_R_Arm
J_R_Hand
J_R_Weapon
R_Arm
J_Neck
J_Head
J_L_EyeBrow
L_EyeBrow
J_R_EyeBrow
R_EyeBrow
J_Nose
Nose
J_R_EyeIris
J_R_EyePupil
R_EyePupil
R_Eyeiris
J_L_EyeIris
J_L_EyePupil
L_EyePupil
L_EyeIris
J_Mouth
Head
J_Cloth
J_Center_Arms
Body

[RemoveTracks]
TowerGuard_ChargeAttack.4=all
TowerGuard_ChargeAttack.7=all
TowerGuard_ChargeAttack.13=all
TowerGuard_ChargeAttack.17=all
TowerGuard_ChargeAttack.21=all
TowerGuard_ChargeAttack.23=all
TowerGuard_ChargeAttack.25=all
TowerGuard_ChargeAttack.28=all
TowerGuard_ChargeAttack.29=all
TowerGuard_ChargeAttack.32=all
TowerGuard_ChargeAttack.33=all
TowerGuard_ChargeAttack.35=all
TowerGuard_ChargeAttack.38=all
