[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_L_Hip
J_R_Leg
J_R_Foot
R_leg
J_L_Leg
J_L_Foot
L_leg
J_L_Spine
J_Shoulders
J_L_Arm
J_L_Hand
J_L_Weapon
L_arm
J_L_ShoulderPad
L_shoulderpad
J_R_Arm
J_R_Hand
J_R_Weapon
Staff
R_arm
J_R_Shoulderpad
R_shouldpad
J_Neck
J_Head
head
J_Hat
crown
body
J_Cape
cape
J_Sash
sash
J_Cloth
cloth
Staff1
crown1
