[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Hip
J_Spine
J_Head
Head
J_L_LegD
J_L_LegD2
leg2
J_L_LegC
J_L_LegC2
leg4
J_L_LegB
J_L_LegB2
leg5
J_L_LegA
J_L_LegA2
leg7
Body
J_R_LegD
J_R_LegD2
leg1
J_R_LegC
J_R_LegC2
leg3
J_R_LegB
J_R_LegB2
leg6
J_R_LegA
J_R_LegA2
leg8
J_Pelvis
J_Pelvis2
Sac
