[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Hip
J_Spine
J_Spine2
J_Neck
J_Head
Head
J_Nose
Nose
J_R_EyePupil
R_EyePupil
J_R_EyeIris
R_EyeIris
J_R_EyeBrow
R_EyeBrow
J_L_EyeBrow
L_EyeBrow
J_L_EyePupil
L_EyePupil
J_L_EyeIris
L_EyeIris
J_LArm
J_LHand
J_LWeapon
LeftArm
J_RArm
J_RHand
J_RWeapon
RightArm
Body
Body2
J_L_Leg
J_LFoot
LeftLeg
J_R_Leg
J_RFoot
RightLeg

[RemoveTracks]
IllagerVindicator_Walk.7=all
IllagerVindicator_Walk.9=all
IllagerVindicator_Walk.10=all
IllagerVindicator_Walk.11=all
IllagerVindicator_Walk.12=all
IllagerVindicator_Walk.13=all
IllagerVindicator_Walk.14=all
IllagerVindicator_Walk.15=all
IllagerVindicator_Walk.16=all
IllagerVindicator_Walk.17=all
IllagerVindicator_Walk.18=all
IllagerVindicator_Walk.19=all
IllagerVindicator_Walk.20=all
