[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
bnd_root_01
bnd_drawBridge
bnd_chain_left_01
bnd_chain_left_02
bnd_chain_left_03
bnd_chain_left_04
bnd_chain_left_05
bnd_chain_left_06
bnd_chain_left_07
bnd_chain_left_08
bnd_chain_left_09
bnd_chain_left_10
bnd_chain_right_01
bnd_chain_right_02
bnd_chain_right_03
bnd_chain_right_04
bnd_chain_right_05
bnd_chain_right_06
bnd_chain_right_07
bnd_chain_right_08
bnd_chain_right_09
bnd_chain_right_10
