[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Body
J_Mouth
MouthOpen
J_R_Eye
J_R_EyePupil
R_EyePupil
R_Eye
J_L_Eye
J_L_EyePupil
L_EyePupil
L_Eye
J_F_L_Leg
F_L_Leg
J_F_M_Leg
F_M_Leg
J_F_R_Leg
F_R_Leg
J_M_R_Leg
M_R_Leg
J_M_M_Leg
M_M_Leg
J_M_L_Leg
M_L_Leg
J_B_L_Leg
B_L_Leg
J_B_M_Leg
B_M_Leg
J_B_R_Leg
B_R_Leg
GhastBody
