[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Base
J_Pole
J_02_Cube_03
J_02_Cube_02
J_01_Cube_01
J_Conduit
J_FTR_Top_01
J_FTL_Top_01
J_FBR_Top_01
J_FBL_Top_01
J_BTR_Top_01
J_BTL_Top_01
J_BBR_Top_01
J_BBL_Top_01
J_FTR_Top_02
J_FTL_Top_02
J_FBR_Top_02
J_FBL_Top_02
J_BTR_Top_02
J_BTL_Top_02
J_BBR_Top_02
J_BBL_Top_02
J_FTR_03
J_FTL_03
J_FBR_03
J_FBL_03
J_BTR_03
J_BTL_03
J_BBR_03
J_BBL_03
