[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Spine
J_Spine_end
J_Head
J_Head_End
J_L_Eye_Back
J_L_Eye_Front
J_Left_Eye_Upper
J_R_Eye_Back
J_R_Eye_Front
J_Right_Eye_Lower
J_Right_Eye_Upper
J_Left_Eye_Lower
J_L_Arm
J_L_Arm_end
J_R_Arm
J_R_Arm_end
J_Back_Eye_01
J_Back_Eye_02
J_Back_Eye_03
J_Front_Eye_01
J_Front_Eye_02
J_Front_Eye_03
J_Hips
J_L_Leg
J_L_Leg_end
J_R_Leg
J_R_Leg_end
