[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Hip
J_Spine
J_Spine2
J_Neck
J_Head
J_L_Ear
J_L_Ear2
Ear_L
J_R_Ear
J_R_Ear2
Ear_R
J_Muzzle
J_Muzzle2
Nose
Head
J_L_FrontLeg
J_L_FrontFoot
FrontLeg_L
J_R_FrontLeg
J_R_FrontFoot
FrontLeg_R
J_Tail
J_Tail2
Tail
Body
J_L_BackLeg
J_L_BackFoot
J_L_BackFoot2
Foot_L
Haunch_L
J_R_BackLeg
J_R_BackFoot
J_R_BackFoot2
Foot_R
Haunch_R
