[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Hip
J_R_Leg
J_R_Foot
R_Leg
R_Leg_armor
J_L_Leg
J_L_Foot
L_Leg
L_Leg_armor
J_Spine
J_Shoulders
J_L_Arm
J_L_Hand
J_L_Weapon
L_Arm
L_Arm_armor
J_R_Arm
J_R_Hand
J_R_Weapon
R_Arm
R_Arm_armor
J_Neck
J_Head
Head
Head_Armor
J_Mouth
Mouth
J_L_EyeIris
J_L_EyePupil
L_Eye_Pupil
L_Eye_Iris
J_R_EyeIris
J_R_EyePupil
R_Eye_Pupil
R_Eye_Iris
Body
Body_armor

[RemoveTracks]
TempestKnife_Combo.4=all
TempestKnife_Combo.5=all
TempestKnife_Combo.8=all
TempestKnife_Combo.9=all
TempestKnife_Combo.15=all
TempestKnife_Combo.16=all
TempestKnife_Combo.20=all
TempestKnife_Combo.21=all
TempestKnife_Combo.24=all
TempestKnife_Combo.25=all
TempestKnife_Combo.27=all
TempestKnife_Combo.30=all
TempestKnife_Combo.31=all
TempestKnife_Combo.34=all
TempestKnife_Combo.35=all
TempestKnife_Combo.36=all
TempestKnife_Combo.37=all
