[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Hip1
J_Spine
J_Neck
J_Head
J_Jaw
J_Jaw2
LowerMouth
HeadHorse
UpperMouth
NeckHorse
J_L_FrontLeg1
J_L_FrontLeg2
J_L_FrontLeg3
J_L_FrontLeg4
L_LegFrontA
L_LegFrontB
L_LegFrontC
HorseBody
J_L_BackLeg1
J_L_BackLeg2
J_L_BackLeg3
J_L_BackLeg4
L_LegBackA
L_LegBackB
L_LegBackC
J_R_FrontLeg1
J_R_FrontLeg2
J_R_FrontLeg3
J_R_FrontLeg4
R_LegFrontA
R_LegFrontB
R_LegFrontC
J_R_BackLeg1
J_R_BackLeg2
J_R_BackLeg3
J_R_BackLeg4
R_LegBackA
R_LegBackC
R_LegBackB
J_Tail
J_Tail2
TailA
J_Root_ske
J_Hip_ske
J_Spine_ske
J_Spine2_ske
J_Neck_ske
J_Head_ske
Head
J_L_Arm_ske
J_L_Hand_ske
J_L_Weapon_ske
L_Arm
J_R_Arm_ske
J_R_Hand_ske
J_R_Weapon_ske
R_Arm
Body
J_L_Leg_ske
J_L_Foot_ske
L_Leg
J_R_Leg_ske
J_R_Foot_ske
R_Leg
