[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_R_Door
R_door
J_L_Door
L_Door
R_DoorM
L_DoorM
R_DoorC
L_DoorLockC
L_DoorC
L_DoorLockC_Behind
L_DoorC1
SK_OT_EntranceDoor
SK_DoorLock_LonelyFortress_Gallery
SK_iceEntranceDoor

[RemoveTracks]
DoorExit_OpeningClosing.2=all
DoorExit_OpeningClosing.4=all
DoorExit_OpeningClosing.7=all
DoorExit_OpeningClosing.8=all
DoorExit_OpeningClosing.9=all
DoorExit_OpeningClosing.10=all
DoorExit_OpeningClosing.11=all
DoorExit_OpeningClosing.12=all
DoorExit_OpeningClosing.13=all
DoorExit_OpeningClosing.14=all
