[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root_joint
J_Hips_joint
J_Spine_spline_0_joint
J_Spine_spline_1_joint
J_Spine_spline_2_joint
J_Head_root_joint
J_Head_end_joint
J_Jaw_root_joint
J_Jaw_end_joint
J_L_Flag_spline_0_joint
J_L_Flag_spline_1_joint
J_L_Flag_spline_2_joint
J_MiddleFlag_spline_0_joint
J_MiddleFlag_spline_1_joint
J_MiddleFlag_spline_2_joint
J_MiddleFlag_spline_3_joint
J_R_Flag_spline_0_joint
J_R_Flag_spline_1_joint
J_R_Flag_spline_2_joint
J_L_Eye_joint
J_L_Pupil_joint
J_Nose_joint
J_R_Eye_joint
J_R_Pupil_joint
J_L_Fan_joint
J_R_Fan_joint
J_L_TopArm_root_joint
J_L_TopArm_hinge_joint
J_L_TopArm_end_joint
J_L_Sword_joint
J_R_TopArm_root_joint
J_R_TopArm_hinge_joint
J_R_TopArm_end_joint
J_R_Sword_joint
J_L_BottomArmButton_joint
J_L_TopArmButton_joint
J_R_BottomArmButton_joint
J_R_TopArmButton_joint
J_L_BottomArm_root_joint
J_L_BottomArm_hinge_joint
J_L_BottomArm_end_joint
J_L_Shield_joint
J_R_BottomArm_root_joint
J_R_BottomArm_hinge_joint
J_R_BottomArm_end_joint
J_R_Shield_joint
J_shieldButton_joint
