[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
wheel_a02
wheel_a02_end
wheel_a01
wheel_a01_end
wheel_b02
wheel_b02_end
wheel_b01
wheel_b01_end
platform_b
platform_b_end
platform_a
platform_a_end
chain_a01
chain_a01_end
chain_a02
chain_a02_end
chain_b02
chain_b02_end
chain_b01
chain_b01_end
J_Chain_BL
Chain_BL
J_Chain_BR
Chain_BR
J_Chain_TL
Chain_TL
J_Chain_TR
Chain_TR
J_Gear_BL
Gear_BL
J_Gear_BR
Gear_BR
J_Gear_TL
Gear_TL
J_Gear_TR
Gear_TR
J_Platform_Long
Platform_Long
J_Platform_Short
Platform_Short

[RemoveTracks]
Anim_BastionBridge_Close.21=all
Anim_BastionBridge_Close.22=all
Anim_BastionBridge_Close.23=all
Anim_BastionBridge_Close.24=all
Anim_BastionBridge_Close.25=all
Anim_BastionBridge_Close.26=all
Anim_BastionBridge_Close.27=all
Anim_BastionBridge_Close.28=all
Anim_BastionBridge_Close.29=all
Anim_BastionBridge_Close.30=all
Anim_BastionBridge_Close.31=all
Anim_BastionBridge_Close.32=all
Anim_BastionBridge_Close.33=all
Anim_BastionBridge_Close.34=all
Anim_BastionBridge_Close.35=all
Anim_BastionBridge_Close.36=all
Anim_BastionBridge_Close.37=all
Anim_BastionBridge_Close.38=all
Anim_BastionBridge_Close.39=all
Anim_BastionBridge_Close.40=all
