[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Hip
J_Spine
J_Spine2
J_Neck
J_Head
Head
J_L_Iris
J_L_Pupil
L_Pupil
L_Iris
J_Nose
Snout
J_R_Iris
J_R_Pupil
L_Pupil1
L_Iris1
J_L_FrontLeg
J_L_FrontFoot
LegFront_L
J_R_FrontLeg
J_R_FrontFoot
LegFront_R
Body
J_Bottom
J_Top
J_Latch
FancyChest_Latch
FancyChest_Top
FancyChest_Bottom
J_L_BackLeg
J_L_BackFoot
LegBack_L
J_R_BackLeg
J_R_BackFoot
LegBack_R
RightTooth
MiddleTooth
LeftTooth
MissionLootChest_Top
group1
MissionLootChest_Bottom

[RemoveTracks]
PiggyBank_Idle.36=all
PiggyBank_Idle.37=all
PiggyBank_Idle.38=all
PiggyBank_Idle.39=all
PiggyBank_Idle.40=all
PiggyBank_Idle.41=all
