[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Spine
J_Spine_01
J_Neck
J_Head
Head
J_leftEye
J_l_eyelidTop
J_l_eyelidBottom
J_rightEye
J_r_eyelidBottom
J_r_eyelidTop
J_Jaw_01
Je_JawEnd
J_L_Clavicle
Je_L_Clavicle
J_L_Arm
J_L_Elbow
J_L_Wrist
J_R_Clavicle
Je_R_ClavicleEnd
J_R_arm_01
J_R_arm_02
J_R_arm_04
J_R_arm_06
J_R_arm_08
J_flower1
J_Petal_01
J_PetalEnd_01
J_Petal_03
J_PetalEnd_03
J_Petal_05
J_PetalEnd_05
J_Petal_07
J_PetalEnd_07
J_Pelvis
J_R_Leg
Je_R_Leg
J_L_Leg
Je_L_Leg
