[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_L_Hip
J_R_Leg
J_R_Foot
RightLeg
J_L_Leg
J_L_Foot
LeftLeg
J_L_Spine
J_Shoulders
J_L_Arm
J_L_Hand
J_L_Weapon
leftArm
J_R_Arm
J_R_Hand
J_R_Weapon
Staff
RightArm
J_Neck
J_Head
J_Mouth
Beard
J_L_EyeIris
J_L_EyePupil
LeftEyePupil
LeftEyeIris
J_R_EyeIris
J_R_EyePupil
RightEyePupil
RightEyeIris
J_L_EyeBrow
LeftEyebrow
J_R_EyeBrow
RightEyebrow
J_Nose
Nose
Head
J_Cloth
Cloth
J_Center_Arms
Center_Arms
J_FrontBead
BeadFront
J_R_Bead1
BeadRight1
J_R_Bead2
BeadRight2
J_R_Bead3
BeadRight3
J_R_Bead4
BeadRight4
J_BackBead
BeadBack1
J_L_Bead4
BeadLeft4
J_L_Bead3
BeadLeft3
J_L_Bead2
BeadLeft2
J_L_Bead1
BeadLeft1
Body
J_dirtBlock1
dirtBlock1
J_dirtBlock2
dirtBlock2

[RemoveTracks]
Geomancer_Stun.64=all
Geomancer_Stun.66=all
