[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Body
J_L_Leg
L_Leg
J_R_Leg
RedStoneCube10
J_L_EyeIris
J_L_EyePupil
L_EyePupil
L_EyeIris
J_Mouth
Mouth
J_Key
KeyHair
J_R_EyeIris
J_R_EyePupil
R_EyePupil
R_EyeIris
KeyBody
L_Feet
R_Feet

[RemoveTracks]
BabyKey_Run.19=all
BabyKey_Run.20=all
