[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Front_L_Laser_01
J_Front_L_Laser_02
J_Front_L_Laser_03
J_Front_L_Laser_04
J_Front_L_Laser_05
J_Front_L_Laser_06
J_Front_L_Laser_07
J_Front_L_Laser_08
J_Front_L_Laser_09
J_Front_L_Laser_10
J_Front_L_Laser_11
J_Front_L_Laser_12
J_Front_R_Laser_01
J_Front_R_Laser_02
J_Front_R_Laser_03
J_Front_R_Laser_04
J_Front_R_Laser_05
J_Front_R_Laser_06
J_Front_R_Laser_07
J_Front_R_Laser_08
J_Front_R_Laser_09
J_Front_R_Laser_10
J_Front_R_Laser_11
J_Front_R_Laser_12
J_Back_R_Laser_01
J_Back_R_Laser_02
J_Back_R_Laser_03
J_Back_R_Laser_04
J_Back_R_Laser_05
J_Back_R_Laser_06
J_Back_R_Laser_07
J_Back_R_Laser_08
J_Back_R_Laser_09
J_Back_R_Laser_10
J_Back_R_Laser_11
J_Back_R_Laser_12
J_Back_L_Laser_01
J_Back_L_Laser_02
J_Back_L_Laser_03
J_Back_L_Laser_04
J_Back_L_Laser_05
J_Back_L_Laser_06
J_Back_L_Laser_07
J_Back_L_Laser_08
J_Back_L_Laser_09
J_Back_L_Laser_10
J_Back_L_Laser_11
J_Back_L_Laser_12
J_Door
J_L_Cog
J_R_Cog
J_L_Cube
J_R_Cube
