[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root_joint
J_Hips_joint
J_L_Leg_root_joint
J_L_Leg_end_joint
J_R_Leg_root_joint
J_R_Leg_end_joint
J_Spine_root_joint
J_Spine_end_joint
J_Head_root_joint
J_Head_end_joint
J_L_Arm_root_joint
J_L_Arm_end_joint
J_R_Arm_root_joint
J_R_Arm_end_joint
