[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_RootAvatar
J_BodyAvatar
J_NeckAvatar
J_HeadAvatar
J_L_EyeIrisAvatar
J_L_EyePupilAvatar
Eye_L_PupilAvatar
L_EyeIrisAvatar
J_R_EyeIrisAvatar
J_R_EyePupilAvatar
Eye_R_PupilAvatar
Eye_R_IrisAvatar
HeadAvatar
J_MouthAvatar
MouthAvatar
J_InnerMouth
GlowMouthAvatar
J_Tongue
OrbOfDominance
GlowMouthAboveAvatar
Pillar
J_Character
