[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
ChainArmature
chain
chain_033
chain_032
chain_031
chain_030
chain_029
chain_028
chain_027
chain_026
chain_025
chain_024
chain_023
chain_022
chain_021
chain_020
chain_019
chain_018
chain_017
chain_016
chain_015
chain_014
chain_013
chain_012
chain_011
chain_010
chain_009
chain_008
chain_007
chain_006
chain_005
chain_004
chain_003
chain_002
chain_001
chain_001_end
