[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Root_joint_grp
Root_joint
Bridge_joint1
Bridge_joint2
Chain01_joint1
Chain01_joint2
Chain01_joint3
Chain01_joint4
Chain01_joint5
Chain01_joint6
Chain01_joint7
Chain01_joint8
Chain01_joint9
Chain01_joint10
Chain01_joint11
Chain01_joint12
Chain01_joint13
Chain01_Link12
Chain01_Link11
Chain01_Link10
Chain01_Link09
Chain01_Link08
Chain01_Link07
Chain01_Link06
Chain01_Link05
Chain01_Link04
Chain01_Link03
Chain01_Link02
Chain01_Link01
Chain02_joint1
Chain02_joint2
Chain02_joint3
Chain02_joint4
Chain02_joint5
Chain02_joint6
Chain02_joint7
Chain02_joint8
Chain02_joint9
Chain02_joint10
Chain02_joint11
Chain02_joint12
Chain02_joint13
Chain02_Link12
Chain02_Link11
Chain02_Link10
Chain02_Link09
Chain02_Link08
Chain02_Link07
Chain02_Link06
Chain02_Link05
Chain02_Link04
Chain02_Link03
Chain02_Link02
Chain02_Link01
Bridge
Tower01
Tower02

[RemoveTracks]
anim_Drawbridge_Idle_Down.0=all
anim_Drawbridge_Idle_Down.1=all
anim_Drawbridge_Idle_Down.2=all
anim_Drawbridge_Idle_Down.3=all
anim_Drawbridge_Idle_Down.4=all
anim_Drawbridge_Idle_Down.5=all
anim_Drawbridge_Idle_Down.6=all
anim_Drawbridge_Idle_Down.7=all
anim_Drawbridge_Idle_Down.8=all
anim_Drawbridge_Idle_Down.9=all
anim_Drawbridge_Idle_Down.10=all
anim_Drawbridge_Idle_Down.11=all
anim_Drawbridge_Idle_Down.12=all
anim_Drawbridge_Idle_Down.13=all
anim_Drawbridge_Idle_Down.14=all
anim_Drawbridge_Idle_Down.15=all
anim_Drawbridge_Idle_Down.16=all
anim_Drawbridge_Idle_Down.17=all
anim_Drawbridge_Idle_Down.18=all
anim_Drawbridge_Idle_Down.19=all
anim_Drawbridge_Idle_Down.20=all
anim_Drawbridge_Idle_Down.21=all
anim_Drawbridge_Idle_Down.22=all
anim_Drawbridge_Idle_Down.23=all
anim_Drawbridge_Idle_Down.24=all
anim_Drawbridge_Idle_Down.25=all
anim_Drawbridge_Idle_Down.26=all
anim_Drawbridge_Idle_Down.27=all
anim_Drawbridge_Idle_Down.28=all
anim_Drawbridge_Idle_Down.29=all
anim_Drawbridge_Idle_Down.30=all
anim_Drawbridge_Idle_Down.31=all
anim_Drawbridge_Idle_Down.32=all
anim_Drawbridge_Idle_Down.33=all
anim_Drawbridge_Idle_Down.34=all
anim_Drawbridge_Idle_Down.35=all
anim_Drawbridge_Idle_Down.36=all
anim_Drawbridge_Idle_Down.37=all
anim_Drawbridge_Idle_Down.38=all
anim_Drawbridge_Idle_Down.39=all
anim_Drawbridge_Idle_Down.40=all
anim_Drawbridge_Idle_Down.41=all
anim_Drawbridge_Idle_Down.42=all
anim_Drawbridge_Idle_Down.43=all
anim_Drawbridge_Idle_Down.44=all
anim_Drawbridge_Idle_Down.45=all
anim_Drawbridge_Idle_Down.46=all
anim_Drawbridge_Idle_Down.47=all
anim_Drawbridge_Idle_Down.48=all
anim_Drawbridge_Idle_Down.49=all
anim_Drawbridge_Idle_Down.50=all
anim_Drawbridge_Idle_Down.51=all
anim_Drawbridge_Idle_Down.52=all
anim_Drawbridge_Idle_Down.53=all
anim_Drawbridge_Idle_Down.55=all
anim_Drawbridge_Idle_Down.56=all
