[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root_joint
J_bodyOffset_joint
J_Body_root_joint
J_Body_segment_1_joint
J_Body_segment_2_joint
J_Body_segment_3_joint
J_Head_root_joint
J_Head_end_joint
J_Nose_root_joint
J_Nose_end_joint
J_L_fin_root_joint
J_L_fin_end_joint
J_R_fin_root_joint
J_R_fin_end_joint
J_centerFin_root_joint
J_centerFin_end_joint
J_L_eye_joint
J_L_pupil_joint
J_R_eye_joint
J_R_pupil_joint
