[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Body
J_Tail_root
J_Tail_segment_1
J_Tail_segment_2
J_Tail_segment_3
J_Eye
J_L_LowerSpikeMid
J_L_MidSpikeBack
J_L_MidSpikeFront
J_L_UpperSpikeMid
J_LowerSpikeBack
J_LowerSpikeFront
J_R_LowerSpikeMid
J_R_MidSpikeBack
J_R_MidSpikeFront
J_R_UpperSpikeMid
J_UpperSpikeBack
J_UpperSpikeFront
