[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
ICA
Bone
Pillar_1
Pillar_1_001
Pillar_1_002
Pillar_1_003
Pillar_1_004
Pillar_1_005
Pillar_1_006
Pillar_1_007
Pillar_1_008
Pillar_1_009
Pillar_1_end
Pillar_1_001_end
Pillar_1_002_end
Pillar_1_003_end
Pillar_1_004_end
Pillar_1_005_end
Pillar_1_006_end
Pillar_1_007_end
Pillar_1_008_end
Pillar_1_009_end
