[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Body
J_R_Tentacle1
R_Tentacle1
J_R_Tentacle2
R_Tentacle2
J_B_Tentacle3
B_Tentacle3
J_B_Tentacle2
B_Tentacle2
J_B_Tentacle1
B_Tentacle1
J_L_Tentacle2
L_Tentacle2
J_L_Tentacle1
L_Tentacle1
J_F_Tentacle3
F_Tentacle3
J_F_Tentacle1
F_Tentacle1
J_F_Tentacle2
F_Tentacle2
J_Heart
Heart
J_Mouth
Mouth
J_R_Eye
R_Eye
J_L_Eye
L_Eye
Body

[RemoveTracks]
BabyGhast_Walk.20=all
BabyGhast_Walk.21=all
