[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_L_Hip
J_R_Leg
J_R_Foot
RightLeg
J_L_Leg
J_L_Foot
LeftLeg
J_L_Spine
J_Shoulders
J_L_Arm
J_L_Hand
J_L_Weapon
LeftArm
J_R_Arm
J_R_Hand
J_R_Weapon
Weapon4
Crossbow4
Weapon3
Crossbow3
Weapon2
Crossbow2
Weapon1
Crossbow1
RightArm
J_Neck
J_Head
J_L_EyeBrow
L_EyeBrow
J_R_EyeBrow
R_EyeBrow
J_Nose
Nose
J_R_EyeIris
J_R_EyePupil
R_EyePupil
R_EyeIris
J_L_EyeIris
J_L_EyePupil
J_Mouth
Head
J_Cloth
J_Center_Arms
Body
Body2
L_EyePupil
L_EyeIris
