[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Hip
J_Spine
J_Spine2
J_Neck
J_Head
Head
J_EyeBrow
EyeBrow
J_R_EyeIris
J_R_EyePupil
R_EyePupil
R_EyeIris
J_L_EyeIris
J_L_EyePupil
L_EyePupil
L_EyeIris
J_Mouth
Mouth
J_Nose
Nose
J_C_Arm
J_C_Weapon
Arm_L
Arm_R
Arm_M
Body
Tunic
J_L_Leg
J_L_Foot
Leg_L
J_R_Leg
J_R_Foot
Leg_R
HatArmorLayer
HatArmorSide

[RemoveTracks]
Villager_Run.7=all
Villager_Run.8=all
Villager_Run.9=all
Villager_Run.10=all
Villager_Run.11=all
Villager_Run.12=all
Villager_Run.13=all
Villager_Run.14=all
Villager_Run.15=all
Villager_Run.16=all
Villager_Run.17=all
Villager_Run.18=all
Villager_Run.19=all
Villager_Run.22=all
Villager_Run.34=all
Villager_Run.35=all
