[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Hip
J_Spine
J_Spine2
J_Neck
J_Head
Head
J_EyeBrow
EyeBrow
J_R_EyeIris
J_R_EyePupil
R_EyePupil
R_EyeIris
J_L_EyeIris
J_L_EyePupil
L_EyePupil
L_EyeIris
J_Mouth
Mouth
J_Nose
Nose
J_C_Arm
J_C_Weapon
Arm_L
Arm_R
Arm_M
Body
Tunic
J_L_Leg
J_L_Foot
Leg_L
J_R_Leg
J_R_Foot
Leg_R
HatArmorLayer
HatArmorSide
