[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Branch_01_01
J_Branch_01_02
J_Branch_01_03
J_Branch_01_04
J_Branch_01_05
J_Branch_02_01
J_Branch_02_02
J_Branch_02_03
J_Branch_02_04
J_Branch_03_01
J_Branch_03_02
J_Branch_03_03
J_Branch_03_04
J_Branch_03_05
J_Branch_04_01
J_Branch_04_02
J_Branch_04_03
J_Branch_04_04
J_Branch_04_05
J_Branch_04_06
J_Branch_04_07
