[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_RootAvatar
J_BodyAvatar
J_R_Upper_BackArm
J_R_Upper_FrontArm
R_Upper_ForeArm
R_Upper_BackArm
J_R_Middle_BackArm
J_R_Middle_FrontArm
R_Middle_ForeArm
R_Middle_BackArm
J_R_Lower_BackArm
J_R_Lower_ForeArm
R_Lower_ForeArm
R_Lower_BackArm
J_L_Upper_BackArm
J_L_Upper_FrontArm
L_Upper_ForeArm
L_Upper_BackArm
J_L_Middle_BackArm
J_L_Middle_ForeArm
L_Middle_ForeArm
L_Middle_BackArm
J_L_Lower_BackArm
J_L_Lower_ForeArm
L_Lower_ForeArm
L_Lower_BackArm
J_NeckAvatar
J_HeadAvatar
J_L_EyeIrisAvatar
J_L_EyePupilAvatar
Eye_L_PupilAvatar
L_EyeIrisAvatar
J_R_EyeIrisAvatar
J_R_EyePupilAvatar
Eye_R_PupilAvatar
Eye_R_IrisAvatar
HeadAvatar
J_MouthAvatar
MouthAvatar
J_InnerMouth
GlowMouthAvatar
Pillar
J_Root
J_Body
J_L_Leg
L_Leg
J_R_Leg
R_Leg
J_Amulet
J_Chains
L_Chain
R_Chain
Amulet
J_L_Arm
J_L_ArmCloth
R_Arm_Sleeve
J_L_Weapon
_Cube
SuperCube1
Staff
L_Arm
J_R_Arm
J_R_Weapon
J_R_ArmCloth
L_Arm_Sleeve
R_Arm
J_Robe
Robe
J_Neck
J_Head
J_Hat
Crown
J_L_EyeBrow
L_EyeBrow
J_R_EyeBrow
R_EyeBrow
J_Nose
Nose
J_L_EyeIris
J_L_EyePupil
L_EyePupil
L_EyeIris
J_R_EyeIris
J_R_EyePupil
R_EyePupil
R_EyeIris
Head
Body
polySurface11
polySurface12
polySurface9
polySurface10
polySurface8
polySurface7
polySurface2
polySurface1
polySurface4
polySurface3
polySurface6
polySurface5
J_Tongue
OrbOfDominance
GlowMouthAboveAvatar
R_Upper_FrontArm
R_Middle_FrontArm
L_Upper_FrontArm
J_Character

[RemoveTracks]
ArchIllagerAvatar_Fourside.4=all
ArchIllagerAvatar_Fourside.8=all
ArchIllagerAvatar_Fourside.16=all
ArchIllagerAvatar_Fourside.42=all
ArchIllagerAvatar_Fourside.43=all
ArchIllagerAvatar_Fourside.44=all
ArchIllagerAvatar_Fourside.45=all
ArchIllagerAvatar_Fourside.46=all
ArchIllagerAvatar_Fourside.47=all
ArchIllagerAvatar_Fourside.48=all
ArchIllagerAvatar_Fourside.49=all
ArchIllagerAvatar_Fourside.50=all
ArchIllagerAvatar_Fourside.51=all
ArchIllagerAvatar_Fourside.52=all
ArchIllagerAvatar_Fourside.53=all
ArchIllagerAvatar_Fourside.54=all
ArchIllagerAvatar_Fourside.55=all
ArchIllagerAvatar_Fourside.56=all
ArchIllagerAvatar_Fourside.57=all
ArchIllagerAvatar_Fourside.58=all
ArchIllagerAvatar_Fourside.59=all
ArchIllagerAvatar_Fourside.60=all
ArchIllagerAvatar_Fourside.61=all
ArchIllagerAvatar_Fourside.62=all
ArchIllagerAvatar_Fourside.63=all
ArchIllagerAvatar_Fourside.64=all
ArchIllagerAvatar_Fourside.65=all
ArchIllagerAvatar_Fourside.66=all
ArchIllagerAvatar_Fourside.67=all
ArchIllagerAvatar_Fourside.68=all
ArchIllagerAvatar_Fourside.69=all
ArchIllagerAvatar_Fourside.70=all
ArchIllagerAvatar_Fourside.71=all
ArchIllagerAvatar_Fourside.72=all
ArchIllagerAvatar_Fourside.73=all
ArchIllagerAvatar_Fourside.74=all
ArchIllagerAvatar_Fourside.75=all
ArchIllagerAvatar_Fourside.76=all
ArchIllagerAvatar_Fourside.77=all
ArchIllagerAvatar_Fourside.78=all
ArchIllagerAvatar_Fourside.79=all
ArchIllagerAvatar_Fourside.80=all
ArchIllagerAvatar_Fourside.81=all
ArchIllagerAvatar_Fourside.82=all
ArchIllagerAvatar_Fourside.83=all
ArchIllagerAvatar_Fourside.84=all
ArchIllagerAvatar_Fourside.85=all
ArchIllagerAvatar_Fourside.86=all
ArchIllagerAvatar_Fourside.87=all
ArchIllagerAvatar_Fourside.88=all
ArchIllagerAvatar_Fourside.89=all
ArchIllagerAvatar_Fourside.90=all
ArchIllagerAvatar_Fourside.91=all
ArchIllagerAvatar_Fourside.92=all
ArchIllagerAvatar_Fourside.93=all
ArchIllagerAvatar_Fourside.94=all
ArchIllagerAvatar_Fourside.95=all
ArchIllagerAvatar_Fourside.96=all
ArchIllagerAvatar_Fourside.97=all
ArchIllagerAvatar_Fourside.98=all
ArchIllagerAvatar_Fourside.99=all
