[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_RootAvatar
J_BodyAvatar
J_R_Upper_BackArm
J_R_Upper_FrontArm
R_Upper_ForeArm
R_Upper_BackArm
J_R_Middle_BackArm
J_R_Middle_FrontArm
R_Middle_ForeArm
R_Middle_BackArm
J_R_Lower_BackArm
J_R_Lower_ForeArm
R_Lower_ForeArm
R_Lower_BackArm
J_L_Upper_BackArm
J_L_Upper_FrontArm
L_Upper_ForeArm
L_Upper_BackArm
J_L_Middle_BackArm
J_L_Middle_ForeArm
L_Middle_ForeArm
L_Middle_BackArm
J_L_Lower_BackArm
J_L_Lower_ForeArm
L_Lower_ForeArm
L_Lower_BackArm
J_NeckAvatar
J_HeadAvatar
J_L_EyeIrisAvatar
J_L_EyePupilAvatar
Eye_L_PupilAvatar
L_EyeIrisAvatar
J_R_EyeIrisAvatar
J_R_EyePupilAvatar
Eye_R_PupilAvatar
Eye_R_IrisAvatar
HeadAvatar
J_MouthAvatar
MouthAvatar
J_InnerMouth
GlowMouthAvatar
Pillar
J_Root
J_Body
J_L_Leg
L_Leg
J_R_Leg
R_Leg
J_Amulet
J_Chains
L_Chain
R_Chain
Amulet
J_L_Arm
J_L_ArmCloth
R_Arm_Sleeve
J_L_Weapon
_Cube
SuperCube1
Staff
L_Arm
J_R_Arm
J_R_Weapon
J_R_ArmCloth
L_Arm_Sleeve
R_Arm
J_Robe
Robe
J_Neck
J_Head
J_Hat
Crown
J_L_EyeBrow
L_EyeBrow
J_R_EyeBrow
R_EyeBrow
J_Nose
Nose
J_L_EyeIris
J_L_EyePupil
L_EyePupil
L_EyeIris
J_R_EyeIris
J_R_EyePupil
R_EyePupil
R_EyeIris
Head
Body
polySurface11
polySurface12
polySurface9
polySurface10
polySurface8
polySurface7
polySurface2
polySurface1
polySurface4
polySurface3
polySurface6
polySurface5
J_Tongue
OrbOfDominance
GlowMouthAboveAvatar
R_Upper_FrontArm
R_Middle_FrontArm
L_Upper_FrontArm
J_Character
