[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
Structure_L
Structure_R
J_Gate_L
Gate_L
J_Gate_R
Gate_R
J_Grass_L_01
Grass_L_01
J_Grass_L_02
Grass_L_02
J_Grass_L_03
Grass_L_03
J_Grass_L_04
Grass_L_04
J_Mushroom_L
Mushroom_L
J_Mushroom_R
Mushroom_R
J_Chain_L
Chain_L
J_Chain_R
Chain_R
J_Grass_R_01
Grass_R_01
J_Grass_R_02
Grass_R_02
J_Grass_R_03
Grass_R_03
J_Trapdoor_L
Trapdoor_L
J_Trapdoor_R
Trapdoor_R
