[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root_joint
J_Body_joint
J_Tail_root_joint
J_Tail_segment_1_joint
J_Tail_segment_2_joint
J_Tail_segment_3_joint
J_Eye_joint
J_L_LowerSpikeMid_joint
J_L_MidSpikeBack_joint
J_L_MidSpikeFront_joint
J_L_UpperSpikeMid_joint
J_LowerSpikeBack_joint
J_LowerSpikeFront_joint
J_R_LowerSpikeMid_joint
J_R_MidSpikeBack_joint
J_R_MidSpikeFront_joint
J_R_UpperSpikeMid_joint
J_UpperSpikeBack_joint
J_UpperSpikeFront_joint
