[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Hip
J_Spine
J_Spine2
J_Neck
J_Head
J_L_Ear
Ear_L
J_R_Ear
Ear_R
J_Muzzle
Snout
Head
J_L_FrontLeg
J_L_FrontFoot
FrontLeg_L
J_R_FrontLeg
J_R_FrontFoot
FrontLeg_R
J_Tail
Tail
UpperBody
Body
J_L_BackLeg
J_L_BackFoot
BackLeg_L
J_R_BackLeg
J_R_BackFoot
BackLeg_R
