[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_L_Hip
J_R_Leg
J_R_Foot
R_Leg
J_L_Leg
J_L_Foot
L_Leg
J_L_Spine
J_Shoulders
J_L_Arm
J_L_Hand
J_L_Weapon
L_Arms
J_R_Arm
J_R_Hand
J_R_Weapon
R_Arms
J_Neck
J_Head
J_Mouth
J_L_EyeIris
J_L_EyePupil
L_EyePupil
L_EyeIris
J_R_EyeIris
J_R_EyePupil
R_EyePupil
R_EyeIris
J_Nose
Nose
J_R_EyeBrow
R_EyeBrow
J_L_EyeBrow
L_EyeBrow
Head
J_Hat
Hat
J_Center_Arms
CenterArms
J_Cloth
Cloth
J_Cape
Cape
Body
J_BookBack
J_R_Wing
L_Wing
L_PaperBlock
J_L_Wing
R_Wing
R_PaperBlock
J_Paper1
Paper1
J_Paper2
Paper2
J_Paper3
Paper3
J_Paper4
Paper4
BookBack
