[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Body
J_Head
J_R_Ear
R_Ear
J_L_Ear
L_Ear
J_Nose
Nose
J_L_Eye_Iris
J_L_Eye_Pupil
R_Eye_Pupil
L_Eye_Iris
J_R_Eye_Iris
J_R_Eye_Pupil
L_Eye_Pupil
R_Eye_Iris
Head
J_L_FrontLeg
R_BackLeg1
J_R_FrontLeg
R_FrontLeg
J_L_BackLeg
L_BackLeg
J_R_BackLeg
R_BackLeg
J_TailBack
J_TailFront
TailFront
TailBack
Body
