[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Body
J_Skirt
Skirt
J_Head
J_L_Eye
L_Eye
J_R_Eye
R_Eye
J_Hat
Hat
Head
J_R_Arm
R_Arm
J_L_Arm
L_Arm_Robe
J_L_Ribbon
L_Ribbon
J_R_Ribbon
R_Ribbon
J_L_BigEarRibbon
L_BigEarRibbon
J_R_BigEarRibbon
R_BigEarRibbon
J_R_SmallerEarRibbon
R_SmallerEarRibbon
J_L_SmallerEarRibbon
L_SmallerEarRibbon
Body
J_Legs
Legs
