[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Hip
J_Spine
J_Spine2
J_Neck
J_Head
L_Horn
Head
R_Horn
J_L_BackLeg
J_L_BackFoot
L_LegBack
J_R_FrontLeg
J_R_FrontFoot
R_LegFront
Body
Udder
J_L_FrontLeg
J_L_FrontFoot
L_LegFront
J_R_BackLeg
J_R_BackFoot
R_LegBack
RedMushroom3
RedMushroom1
RedMushroom2

[RemoveTracks]
Cow_GetHitLeft.23=all
Cow_GetHitLeft.24=all
Cow_GetHitLeft.25=all
