[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
bnd_Root
bnd_Pelvis
bnd_Hips
bnd_L_leg
be_L_leg
bnd_R_leg
be_R_leg
bnd_spine_01
bnd_chest_01
bnd_head_01
bnd_Head
bnd_Petal_04
petalInner_04
bnd_Petal_03
petalInner_03
bnd_Petal_02
petalInner_02
bnd_Petal_01
petalInner_01
bnd_L_shoulder
bnd_L_wrist
be_L_wristEnd
bnd_L_fing_01
bnd_L_fing_02
bnd_L_fing_03
bnd_L_fing_04
bnd_R_shoulder
bnd_R_wrist
be_R_wristEnd
bnd_R_fing_01
bnd_R_fing_02
bnd_R_fing_03
bnd_R_fing_04
