[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Link4
Cage_Wall4
J_Link3
Cage_Wall3
J_Link2
Cage_Wall2
J_Link1
Cage_Wall1
J_Link5
SM_Cage_Floor
SM_PandaCage
Cage_Wall4_end
Cage_Wall3_end
Cage_Wall2_end
Cage_Wall1_end
SM_Cage_Floor_end
SM_PandaCage_end

[RemoveTracks]
VillagerCage_FullSequence.11=all
VillagerCage_FullSequence.12=all
VillagerCage_FullSequence.13=all
VillagerCage_FullSequence.14=all
VillagerCage_FullSequence.15=all
VillagerCage_FullSequence.16=all
VillagerCage_FullSequence.17=all
