[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
J_Root
J_Head
J_R_Wing
R_Wing
J_L_Wing
L_Wing
J_Stinger
Stinger
J_R_Antenna
R_Antenna
J_L_Antenna
L_Antenna
J_L_M_Leg
L_M_Leg
J_L_F_Leg
L_F_Leg
J_L_B_Leg
L_B_Leg
J_R_B_Leg
R_B_Leg
J_R_M_Leg
R_M_Leg
J_R_F_Leg
R_F_Leg
J_R_AngryEye
R_EyeAngry
J_R_Eye
R_EyeNormal
J_L_AngryEye
L_EyeAngry
J_L_Eye
L_EyeNormal
Body
